<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input
      type="text"
      placeholder="Search"
      aria-label="Number"
      matInput
      [formControl]="wordsControl"
      [matAutocomplete]="auto"
      [value]="inputString"
    />
    <button
      *ngIf="inputString"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="inputString = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let words of filteredWords"
        [value]="words"
        (click)="onWordSelect(words)"
      >
        {{ words }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
